---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import CityGrid from "../components/CityGrid.astro";
import NeighbourhoodTable from "../components/NeighbourhoodTable.astro";
import PriceChart from "../components/PriceChart.astro";
import Footer from "../components/Footer.astro";
import { readFileSync } from "fs";
import { join } from "path";

const latestData = JSON.parse(
  readFileSync(join(process.cwd(), "data", "latest.json"), "utf-8")
);
const historyData = JSON.parse(
  readFileSync(join(process.cwd(), "data", "history.json"), "utf-8")
);
---

<Layout>
  <Header date={latestData.date} />
  <main>
    <CityGrid cities={latestData.cities} />
    <NeighbourhoodTable dataJson={JSON.stringify(latestData)} />
    <PriceChart historyJson={JSON.stringify(historyData)} />
  </main>
  <Footer scrapedAt={latestData.scrapedAt} />
</Layout>
